{% extends "base.html" %}

{% block content %}
  <div class="container wrapper flex-grow-1">
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">{{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}
    {% endif %}
    <h1 class="my-4">Статусы</h1>
    <a class="btn btn-primary mb-3" href="{% url 'status_create' %}">Создать статус</a>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Имя</th>
          <th>Дата создания</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for status in statuses %}
        <tr>
          <td>{{ status.id }}</td>
          <td>{{ status.name }}</td>
          <td>{{ status.inserted_timestamp }}</td>
          <td>
            <a href="{% url 'status_update' pk=status.id %}">Изменить</a>
            <br />
            <a href="{% url 'status_delete' pk=status.id %}">Удалить</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
